<style>
    body,html{
        height: 100%;
        margin: 0px;
    }
    .bg{
        background-image: url("/static/images/bg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% top;
        background-attachment: fixed;
    }
    img {
        /* -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222); */
        height: 100%;
        box-shadow:  10px 10px 10px 10px #222;
  -moz-box-shadow: 0 0 10px #222;
  -webkit-box-shadow: 0 0 10px #222;
  -o-box-shadow: 0 0 10px #222;
    }
    .container-fluid{
        height: 100%;
    }
    #name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: italic;
        color: black;
    }
    #content{
        background-color: rgb(255,255,255,0.4);
        height: 100%;
        box-shadow:  10px 10px 10px 10px #222;
        -moz-box-shadow: 0 0 10px #222;
  -webkit-box-shadow: 0 0 10px #222;
  -o-box-shadow: 0 0 10px #222;
    }
   
    .btn,.fa{
        margin: 10px;
        width: 150px;
    }
    #intro{
        border: 1px solid gray;
        margin: 15px;
        padding: 5px;
        font-family: cursive;
        font-size: 25px;
    }
    .btn-circle {
width: 40px;
height: 40px;
padding: 6px 0px;
border-radius: 20px;
text-align: center;
font-size: 22px;
line-height: 1.42857;
}

</style>