<style>
    body,html{
    height: 100%;
    margin: 0px;
}
.bg{
    background-image: url("/static/images/bg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
}
    .container-fluid{
        /* background-color: gray; */
        height: 100%;
    }
    #photography{
        font-size: 45px;
        font-family: cursive;
        font-style: italic;
        color: whitesmoke;
    }
    .jumbotron{
        margin: 0;
        background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url('static/images/photography.jpg') ;
        background-position: center;
        background-size: cover;
        padding-top: 5%;
    padding-bottom: 5%;
    }
    @media (min-width: 768px) {
#photography {
font-size: 100px;
}
img{
    height: 100%;
    box-shadow:  10px 10px 10px 10px #222;
-moz-box-shadow: 0 0 10px #222;
-webkit-box-shadow: 0 0 10px #222;
-o-box-shadow: 0 0 10px #222;
}
/* .img_container{
    position: relative;
    display: inline-block;
} */
/* .img_container button{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down
    text-align: center;
    width: 60%; 
} */ 

}
</style>